/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body 
{ 
  padding-top: 60px; 
  background-color: #66CCFF !important;
}
footer { margin-top: 100px; background-color: #FFFFCC}
table, td, th 
{ vertical-align: middle !important; 
  border: 1px solid #FFFFCC !important; 
  padding-right: 10px !important;
  text-align: center !important;
}
th 
{ border-bottom: 3px solid #DDD !important; 
  padding-bottom: 10px;
  background-color: #3399FF;
  color: black;
}
h1 { padding-bottom: 20px;}